<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Cloths</h4>
                        <p class="card-category"> List of cloths</p>
                        <a type="button" href="/add-cloth" class="btn btn-primary pull-right">Add new</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Product Type
                                        </th>
                                        <th>
                                            Cover
                                        </th>
                                        <th>
                                            Detail
                                        </th>
                                        <th>
                                            Retail Price
                                        </th>
                                        <th>
                                            Edit cloth
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each cloths}}
                                    <tr>
                                        <td>
                                            {{nameProduct}}
                                        </td>
                                        <td>
                                            {{typeProduct}}
                                        </td>
                                        <td>
                                            {{imgSrc}}
                                        </td>
                                        <td>
                                            {{productDescription}}
                                        </td>
                                        <td class="text-primary">
                                            {{price}}
                                        </td>
                                        <td>
                                            <a href="/add-cloth/{{_id}}">
                                                <i class="material-icons">open_in_new</i>
                                            </a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>