<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Cloths</h4>
                        <p class="card-category"> List of cloths</p>
                        <a type="button" href="/add-cloth" class="btn btn-primary pull-right">Add new</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Product Type
                                        </th>
                                        <th>
                                            Cover
                                        </th>
                                        <th>
                                            Detail
                                        </th>
                                        <th>
                                            Retail Price
                                        </th>
                                        <th>
                                            Edit cloth
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each cloths}}
                                    <tr>
                                        <td>
                                            {{nameProduct}}
                                        </td>
                                        <td>
                                            {{typeProduct}}
                                        </td>
                                        <td>
                                            {{imgSrc}}
                                        </td>
                                        <td>
                                            {{productDescription}}
                                        </td>
                                        <td class="text-primary">
                                            {{price}}
                                        </td>
                                        <td>
                                            <a href="/add-cloth/{{_id}}">
                                                <i class="material-icons">open_in_new</i>
                                            </a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{#if productId}}
                <ul class="pagination justify-content-center">
        
                    {{#if hasPreviousPage}}
                    <li class="page-item">
                        <a class="page-link" href="/?productId={{productId}}&page={{prevPage}}" tabindex="-1">Previous</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/?productId={{productId}}&page={{prevPage}}">{{prevPage}}</a>
                    </li>
                    {{/if}}
                    <li class="page-item active">
                        <a class="page-link" href="javascript:;">{{currentPage}} <span class="sr-only">(current)</span></a>
                    </li>
        
        
                    {{#if hasNextPage}}
                    <li class="page-item">
                        <a class="page-link" href="/?productId={{productId}}&page={{nextPage}}">{{nextPage}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/?productId={{productId}}&page={{nextPage}}">
                            Next
                        </a>
                    </li>
                    {{/if}}
        
                </ul>
                {{else}}
                <ul class="pagination justify-content-center">
        
                    {{#if hasPreviousPage}}
                    <li class="page-item">
                        <a class="page-link" href="/?page={{prevPage}}">Previous
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/?page={{prevPage}}">{{prevPage}}</a>
                    </li>
                    {{/if}}
        
                    <li class="page-item active">
                        <a class="page-link" href="javascript:;">{{currentPage}} <span class="sr-only">(current)</span></a>
                    </li>
        
                    {{#if hasNextPage}}
                    <li class="page-item">
                        <a class="page-link" href="/?page={{nextPage}}">{{nextPage}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/?page={{nextPage}}">Next
                        </a>
                    </li>
                    {{/if}}
        
                </ul>
                {{/if}}
            </div>
        </div>
    </div>
</div>