<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Product Types</h4>
                        <p class="card-category"> List of product types</p>
                        <div>
                            <a type="button" href="/typeProduct/editTypeProduct" class="btn btn-primary pull-right">Add new</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            Product Type
                                        </th>
                                        <th style="text-align:end;">
                                            Edit product types
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each products}}
                                    <tr>
                                        <td>
                                            {{nameTypeProduct}}
                                        </td>
                                        <td>
                                            <a href="/typeProduct/editTypeProduct/{{_id}}">
                                                <i class="material-icons pull-right">open_in_new</i>
                                            </a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{#not q}}
                                {{#not productId}}
                                <ul class="pagination justify-content-center">
                                    {{#isnt currentPage 1}}
                                    <li class="page-item">
                                        <a class="page-link" href="/typeProduct/?page={{prevPage}}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    {{/isnt}}

                                    {{#if hasPreviousPage}}
                                    <li class="page-item">
                                        <a class="page-link" href="/typeProduct/?page={{prevPage}}">{{prevPage}}</a>
                                    </li>
                                    {{/if}}

                                    <li class="page-item active">
                                        <a class="page-link" href="javascript:void(0)" tabindex="-1">{{currentPage}}</a>
                                    </li>

                                    {{#if hasNextPage}}
                                    <li class="page-item">
                                        <a class="page-link" href="/typeProduct/?page={{nextPage}}">{{nextPage}}</a>
                                    </li>
                                    {{/if}}

                                    {{#gt lastPage currentPage}}
                                    <li class="page-item">
                                        <a class="page-link" href="/typeProduct/?page={{nextPage}}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                    {{/gt}}
                                </ul>
                                {{/not}}
                                {{/not}}
                                {{#if productId}}
                                <ul class="pagination justify-content-center">
                                    {{#isnt currentPage 1}}
                                    <li class="page-item">
                                        <a class="page-link" href="/typeProduct/?productId={{productId}}&page={{prevPage}}"
                                            aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    {{/isnt}}

                                    {{#if hasPreviousPage}}
                                    <li class="page-item">
                                        <a class="page-link"
                                            href="/typeProduct/?productId={{productId}}&page={{prevPage}}">{{prevPage}}</a>
                                    </li>
                                    {{/if}}

                                    <li class="page-item active">
                                        <a class="page-link" href="javascript:void(0)" tabindex="-1">{{currentPage}}</a>
                                    </li>

                                    {{#if hasNextPage}}
                                    <li class="page-item">
                                        <a class="page-link"
                                            href="/typeProduct/?productId={{productId}}&page={{nextPage}}">{{nextPage}}</a>
                                    </li>
                                    {{/if}}

                                    {{#gt lastPage currentPage}}
                                    <li class="page-item">
                                        <a class="page-link" href="/typeProduct/?productId={{productId}}&page={{nextPage}}"
                                            aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                    {{/gt}}
                                </ul>
                                {{/if}}
                                {{#if q}}
                                <ul class="pagination justify-content-center">
                                    {{#isnt currentPage 1}}
                                    <li class="page-item">
                                        <a class="page-link" href="/typeProduct/?q={{q}}&page={{prevPage}}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    {{/isnt}}

                                    {{#if hasPreviousPage}}
                                    <li class="page-item">
                                        <a class="page-link" href="/typeProduct/?q={{q}}&page={{prevPage}}">{{prevPage}}</a>
                                    </li>
                                    {{/if}}

                                    <li class="page-item active">
                                        <a class="page-link" href="javascript:void(0)" tabindex="-1">{{currentPage}}</a>
                                    </li>

                                    {{#if hasNextPage}}
                                    <li class="page-item">
                                        <a class="page-link" href="/typeProduct/?q={{q}}&page={{nextPage}}">{{nextPage}}</a>
                                    </li>
                                    {{/if}}

                                    {{#gt lastPage currentPage}}
                                    <li class="page-item">
                                        <a class="page-link" href="/typeProduct/?q={{q}}&page={{nextPage}}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                    {{/gt}}
                                </ul>
                                {{/if}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>